---
layout: default
---

{% for writeup in site.posts %}
	{% if writeup.categories contains "HackTheBox" %}
	<li class="writeup-container">
		<div class="writeup-holder">
			<div class="writeup-thumb">
				{% if writeup.thumbnail %}
				<a href="{{ writeup.url }}">
					<img src="{{ writeup.thumbnail }}" width=256 height=256>
				</a>
				{% else %}
				<img src="/img/default-thumb.webp">
				{% endif %}
			</div>
			<div class="writeup-contents">
				<small>{{ writeup.date | date: "%-d %B %Y" }}</small>
				<a href="{{ writeup.url }}"><h2>{{ writeup.title }}</h2></a>
				<p>{{ writeup.excerpt }}</p>
			</div>
	</li>
	{% endif %}

<br>
{% endfor %}
